*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

p { 
    font-family: 'Hind Guntur', sans-serif;
    padding-top: 100px;
}

nav {
    font-family: 'Montserrat', sans-serif;
}

/* This is the start of my navigation */

nav{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
}
nav ul{
    list-style-type: none;
    float: right;
}

nav ul li:hover {
    color: #888888;
}

nav ul li:active {
    color: #000000;
}

.logo {
    float: left;
    
}

nav ul li{
display: inline-block;
color: #000000;
text-transform: uppercase;
font-size: 20px;
margin: 10px 10px;
}

/* This is the end of my navigation */
/* This is the start of my info box section */

.column {
    text-align: center;
    width: 33.33%;
    height: 300px;
    padding: 10px;
    background-color: #cfcfcf;
    border: 0.01px solid #000000;
  }

  .columntext1 {
    margin-bottom: 70px; 
  }

  .columntext2 {
    margin-bottom: 40px; 
  }

  .columntext3 {
    margin-bottom: 40px; 
  }

  .weblink{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }

/* This is the end of my info box section */

/* This is the start of my footer */

.footer {
    float: both;
}

.fa-facebook-f {
    float: left;
    color: #cfcfcf;
    margin-top: 7px;
    margin-left: 5px;
}

.fa-instagram {
    float: left;
    color: #cfcfcf;
    margin-top: 7px;
    margin-left: 5px;
}

.fa-linkedin-in {
    float: left;
    color: #cfcfcf;
    margin-top: 7px;
    margin-left: 5px;
}

.fa-twitter {
    float: left;
    color: #cfcfcf;
    margin-top: 7px;
    margin-left: 5px;
}

.credits {
    float: right;
    padding-right: 7px;
    margin-top: 7px;
}
